extends layout

block content

  main
    section.hero
      pre.dickbutt.
        ⠀⠀⠀⠀⠀⠀⠀⣠⠴⠒⠋⠉⠛⠲⣄⠀⠀⠀⠀⠀⠀   
        ⠀⠀⠀⠀⢰⣶⣿⢣⠀⠀⠀⠀⠀⠀⠈⣧⠀⠀⠀⠀⠀   
        ⠀⠀⠀⠀⡾⠿⢯⡼⠒⠀⣴⣶⣖⢦⠀⣿⠀⠀⠀⠀    
        ⠀⠀⠀⡼⢥⣄⣘⡶⠃⠈⢿⣛⣋⡼⢠⠇⠀⠀⠀⠀    
        ⠀⠀⣰⠃⠀⠀⠉⠉⠛⠓⠶⠾⠅⠀⡜⠀⠀⠀⠀⠀    
        ⠀⢠⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠃⠀⠀⠀⠀     
        ⠀⢸⠀⠀⠀⠀⠀⠀⠀⡰⢠⠀⢀⡏⠀⠀⠀⠀⠀⠀⠀⢀⣀⡀
        ⠀⣿⠀⠀⠀⠀⠀⠀⢀⡇⢸⠀⢸⠀⠀⠀⠀⠀⠀⠀⣠⠋⠀⢹
        ⠀⢿⠀⠀⠀⠀⠀⠀⢸⢠⠇⠀⡼⠒⠒⠒⠶⢄⣀⡴⠁⠀⡠⠃
         ⢸⠀⠀⠀⠀⢀⡤⠃⢾⡀⠀⠀⢀⡤⠤⠤⣞⠁⠀⢠⠞⠁⠀
        ⠀⠘⣆⠀⠀⠀⠑⠲⡴⠦⠇⠀⠀⠀⠀⠀⠀⠀⠙⡄⠈⡉⡇⠀
        ⠀⠀⠘⢦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣹⠀⠉⡇ 
        ⣠⡀⠀⡠⢛⡦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡰⠃⠉⠉⠁⠀
        ⢣⠘⠞⣡⠊⠀⠀⠈⡉⠒⡖⢠⠶⢤⣤⠤⠖⠋⠀⠀⠀⠀⠀⠀
        ⠈⠢⠔⠁⠀⠀⠀⠸⡉⠒⢀⡎⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⠑⣄⠜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀

    section.date-wrapper
      div#clock
      div#date

    section.links-wrapper#personal-links
      a(href="https://yewtu.be/") Invidious
      a(href="https://odysee.com/") Odysee
      a(href="https://sso.spcollege.edu/adfs/ls/?SAMLRequest=lVPRbtowFH3vV0R5ByckUM2CSAy2FYlBBGkf9lI5zk2x5NiZr7Oyv5%2Bd0kGrFWl%2BsXR9z%2FE5x9dTZI1s6byzB7WDnx2gvQmCYyMV0v5oFnZGUc1QIFWsAaSW0%2F38%2B5qOhhFtjbaaaxm%2BAV3HMEQwVmjlQavlLNxuvqy331abx6SapBMGkMTJiEVwG5UpJOWnpIzLuk7jdDyJkrKswQMfwKDjmIWOsidC7GCl0DJlXTEajQZxNIgmRTym44hG6Q%2FftXT%2BhGK2Rx6sbZESgqiH2DoXEp5gCFVHWFUjkUg8JD9Z%2FCxUJdTTdW%2FlSxPSu6LIB%2Fl2X3iK%2BavjhVbYNWD2YH4JDve79VmFFU76oSvfS2kF4doA8cE%2BOqkkzBxlEEx9gfa2TfbfJFNyCT8TtnTjTK2WuZaC%2F%2B7rfn3VpmH2Y%2B%2FxMO4rohrUfSvtFLbARS2gCv%2FSzKXUzwsDzMIstKaDMCBvLj%2BNIFT9QLq4LBxtsNBNy4xA%2F2hwZNyeIjjHcNm%2BkG7CdlBnV4eQU%2B77XDl327M2lX9o4O7uwjAnXht7Cumf5C%2BqyRXZ2c3r8eXvyv4A&RelayState=https%3A%2F%2Ftitanhub.spcollege.edu%2Fapi%2Fcore%2Fsaml_sso&client-request-id=c024039d-eadc-4c75-7a00-008003000030&pullStatus=0") SPCollege
      a(href="https://lutris.net/games") Lutris List

    section.links-wrapper#tech-links
      a(href="https://search.nixos.org/packages") Nix Search
      a(href="https://nixos.wiki/") Nixos Wiki
      a(href="https://wiki.archlinux.org") ArchWiki
      a(href="https://hub.docker.com/") Docker Hub

    section.bonsai-wrapper
      pre#bonsai

    section.weather-wrapper
      p /// Under Construction ///
      br
      span This is going to be a weather module

    script(type='module' src='/javascripts/script.js')
