:root {
  --bg-color: #002B36;
  --bg-alt-color: #073642;
  --bg-alt-color-transparent: #073642EE;
  --fg-alt-color: #586E75;
  --fg-color: #FDF6E3;
  --green: #859900;
  --cyan: #2AA198;
  --orange: #CB4B16;
  --red: #DC322F;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: FiraCode Nerd Font Mono, Ubuntu Mono, Consolas, Monospace;
  font-size: 1.5rem;
  color: var(--fg-color);
  scrollbar-width: none;
}
html::-webkit-scrollbar { display: none; }

body {
  background: var(--bg-color) url("/images/background.png") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 2rem;
}

section {
  background-color: var(--bg-alt-color-transparent);
  padding: 2rem;
  box-shadow:
    5px 5px 10px 0 rgba(0,0,0,0.2),
    10px 10px 30px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.links-wrapper a {
  background-color: var(--fg-alt-color);
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: inherit;
  text-align: center;
  box-shadow:
    4px 4px 8px rgba(0,0,0,0.2),
    5px 5px 18px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.links-wrapper a:hover {
  background-color: var(--green);
  box-shadow:
    inset 4px 4px 8px rgba(0,0,0,0.2),
    inset 5px 5px 18px rgba(0,0,0,0.2);
  text-shadow: 1px 2px 3px black;
}

.dickbutt {
  text-align: center;
  color: var(--green);
  font-size: 0.6rem;
}

.date-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock { font-size: 1.5rem; }

.bonsai-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#bonsai {
  font-size: 1.2rem;
  color: var(--green);
}

.weather-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-wrapper img {
  width: 60%;
}

#weather_desc {
  font-size: 1.4rem;
  font-weight: bold
}

#weather_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-top: 10px;
  font-size: 0.8rem;
}

#weather_info dt {
  text-align: right;
  margin-right: 10px;
}
#weather_info dt::after {
  content: ":";
}

#weather_info dd {
  text-align: center;
}

@media only screen and ( min-width: 1000px ) and ( min-aspect-ratio: 4/3 ) {
  
  html { font-size: 0.6em; }

  main {
    margin: auto;
    width: min-content;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(3, 120px);
    justify-content: center;
    align-content: center;
    height: 100vh;
  }

  .hero {
    grid-row: 1/3;
    grid-column: 1/3;
    overflow: hidden;
  }

  .dickbutt { font-size: 1rem; }

  .links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .links-wrapper a { padding: 12px; }

  #personal-links {
    grid-column: 3/6;
    grid-row: 1;
  }

  #tech-links {
    grid-column: 1/4;
    grid-row: 3;
  }

  .bonsai-wrapper {
    grid-column: 4;
    grid-row: 3;
    overflow: hidden;
  }

  .date-wrapper {
    grid-column: 3/5;
    grid-row: 2;
  }

  #clock { font-size: 3rem; }

  #date { font-size: 2rem; }

  .weather-wrapper {
    grid-column: 1/3;
    grid-column: 5;
    grid-row: 2/4;
  }

  #weather_icon {
    width: 80%;
    padding-bottom: 20px
  }

  #weather_info { font-size: 1.1rem; }

}

@media only screen and ( min-width: 1000px ) and ( min-aspect-ratio: 16/9 ) {

  html { font-size: 0.8rem; }
  
  main {
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(3, 170px);
  }

  #weather_icon {
    width: 80%;
  }

  .dickbutt { font-size: 1.1rem; }

}